<!DOCTYPE HTML>
<html lang="pl">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title></title>

  <link th:href="@{/css/style2.css}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link href="css/fontello.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="wrapper">
  <div class="nav">
    <ol>
      <li><a th:href="@{/index}">Strona główna</a></li>
      <li><a th:href="@{/edycja_profilu}">Dodaj ogłoszenie</a></li>
      <li><a href="#">Edytuj profil</a></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">Język Polski/Angielski</a></li>
      <li><a href="#">Motyw ciemny/jasny</a></li>
      <li><a href="#">Wyloguj</a></li>
    </ol>

  </div>

  <div class="content">
    <!-- Display job offer details -->
    <div class="job-details">
      <h2 th:text="${jobOffer.title}"></h2>
      <p th:text="${jobOffer.description}"></p>
      <p th:text="${jobOffer.salary + ' zł'}"></p>
      <p th:text="${jobOffer.employmentType}"></p>
      <p th:text="${jobOffer.province}"></p>
      <p th:text="${jobOffer.location}"></p>

      <form th:action="@{/generate-pdf}" method="post">
        <input type="hidden" name="jobOfferId" th:value="${jobOffer.id}" />
        <button type="submit">Generuj PDF</button>
      </form>
    </div>

    <!-- Display company details -->
    <div class="company-details">
      <h3>Company Details</h3>
      <p th:text="${jobOffer.company.name}"></p>
      <p th:text="${jobOffer.company.description}"></p>
      <p th:text="${jobOffer.company.location}"></p>
    </div>

    <!-- Add more details as needed -->

  </div>



  </div>

  <script src="jquery-1.11.3.min.js"></script>

  <script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;

	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();

	if (ScrollY > NavY) {
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky');
	}
	};

	stickyNav();

	$(window).scroll(function() {
		stickyNav();
	});
	});

</script>

</body>
</html>