<!-- registration.html -->

<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Rejestracja do portalu IT</title>
    <meta name="description" content="Strona rejestracji do portalu z poszukiwaniem pracy w IT" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    
</head>

<body>

    <div id="container">
        <form th:action="@{/register}" th:object="${user}" method="post">
            <input type="text" th:field="*{email}" placeholder="email" onfocus="this.placeholder=''" onblur="this.placeholder='email'" required>
            <input type="text" th:field="*{name}" placeholder="imie" onfocus="this.placeholder=''" onblur="this.placeholder='imie'" required>
            <input type="text" th:field="*{surname}" placeholder="nazwisko" onfocus="this.placeholder=''" onblur="this.placeholder='nazwisko'" required>
            
            <input type="password" th:field="*{password}" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'" required>
            
            <input type="submit" value="Zarejestruj się">
            
        </form>
    </div>
    
</body>
</html>
