<!DOCTYPE HTML>
<html lang="pl">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title></title>
	
	<link href="style2.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<link href="css/fontello.css" rel="stylesheet" type="text/css" />
	
</head>

<body>

	<div class="wrapper">
		<div class="nav">
			<ol>
				<li><a href="#">Strona główna</a></li>
				<li><a href="#">Dodaj ogłoszenie</a></li>
				<li><a href="#">Edytuj profil</a></li>
				<li><a href="#">Chat</a></li>
				<li><a href="#">Język Polski/Angielski</a></li>
				<li><a href="#">Motyw ciemny/jasny</a></li>
				<li><a href="#">Wyloguj</a></li>
			</ol>
		
		</div>
		
		<div class="wizytowka">
			   Zdjęcie<br><br>
			   Nazwa firmy<br><br>
			   Skrótowy opis<br><br>
			   Geolokalizacja<br><br>
			
		</div>
	</div>
	
	<script src="jquery-1.11.3.min.js"></script>
	
	<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;
	 
	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();
		  
	if (ScrollY > NavY) { 
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky'); 
	}
	};
	 
	stickyNav();
	 
	$(window).scroll(function() {
		stickyNav();
	});
	});
	
</script>
	
</body>
</html>